@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



*{
    margin:0px;
    padding: 0px;
}
.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px;
    
}
.nav-section img{
    width: 150px;
}
.header-section{
 background-color: #F0FFF0;
 padding-bottom:70px ;
}
.service-section ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
.service-section ul li>a{
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.service-section ul>button{
    border-radius: 33px;
    background: #21B573;
    padding: 12px 28px;
    border: none;
    gap: 10px;  
    color: white;
    font-weight: bold;
    
}

/* end of nav section */

button{
    border-radius: 33px;
    background: #21B573;
    padding: 12px 36px;
    align-items: center;
    gap: 10px;
    border:none;
    color:white;
    font-weight: bold;
   margin-top: 20px;
}
.banar-section{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    padding-top: 0px ;
    
}
.banar-content h1{
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
}
#banar-content{
    color: #21B573;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 70px;
}
.banar-logo img{
    width:500px;
}
.banar-section p{
    color: #6C6B6B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    width: 400px;
}

.card> img{
    width: 60px;
    
}
.card{
    padding:50px;
    /* border: 2px solid gray; */
    /* height: 80%; */
    text-align: center;
    height: 150px;
    width: 150px;
   background-color: #F8FFFB;
   border-radius: 10px;
   line-height: 25px;
   align-items: center;
   /* gap:20px */


   
}


.card:hover{
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 5);
border:none;

}
.main-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:6px;gap:6px;
    align-items: center;
    margin-top: 60px;
}
.element{
    width: 80%;
    margin:auto;
}
.courses-section h1{
    text-align: center;
    font-size: 50px;
}
.courses-content img{
    width: 250px;

}
.courses-content h3{
   font-size: 14px;
   margin: none;
   line-height: 30px;
}
.courses-content{
    padding: 20px;
    /* border:9px solid black */
    border-radius: 18px;
background: #FFF;
box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);

}
.courses{
    display: flex;
    justify-content: space-around;
    gap:10px;
    
}



.dk{
    display: flex;
    justify-content: space-between;
}

.man-section{
    width: 70%;
    margin:auto;
}
.man-title h2{
    text-align: center;
    font-size: 48px;
    margin-top: 80px;

}
.man-conttent{
    display: flex;
    justify-content: space-between;
    gap:80px;
    align-items: center;
}
.man-conttent>img{
    width: 150px;
}

.footer-section{
    background-color: #000;
    /* height: 360px; */
    width: 100%;
    margin-top: 100px;
}


.footer-content{
    width: 80%;
    margin:auto;
    padding:30px;
    display: flex;
    
}

.footer-left p{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
    width: 50%;

}

.footer-right{
    display: flex;
justify-content: space-between;
gap:40px;
color:white
}

.footer-right b{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.footer-right p{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.coppt{
    color: white;
   width: 80%;
   /* margin-left: 473px; */
  
}














@media screen and (max-width: 576px){
    .nav-section, .service-section ul,.man-conttent, .footer-right,.footer-content{
        flex-direction: column;
        gap:20px;
        
    }
    .banar-section{
        flex-direction:column;
        padding-top: 0px;
        margin: auto;
    }
    .banar-content{
        margin: auto;
    }
    .banar-content h1{
        font-size: 30px;
        line-height: 30px;
        margin: auto;

        
    }
    #banar-content{

         font-size: 30px;
        line-height: 30px;
         margin: auto;

    }
    .banar-content p{
        line-height: 15px;
        width: 200px;
        text-align: center;
    }

   


    .banar-logo img{
        width: 290px;
        padding-top: 20px;
    }

    .main-content{
        grid-template-columns: repeat(1, 1fr);
        line-height: 25px;
        gap:10px;
    }
    .courses{
        flex-direction: column;
    }
    /* .footer-content{
        flex-direction: column;

    } */
    /* .footer-right{
        flex-direction: column
    } */
    .coppt{
        text-align: center;
    }

}